* {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 5px;
  }

::-webkit-scrollbar-thumb {
    background: rgba($color: #000000, $alpha: .9);
}

::-webkit-scrollbar-track {
    background: rgba($color: #000000, $alpha: .2);
}

html, body {
    height: 100vh;
    width: 100vw;
}

main {
    width: 100%;

}

.mt-1 {
    margin-top: 5px;
}

.mt-5 {
    margin-top: 20px;
}

.mb-1 {
    margin-bottom: 5px;
}

.mb-5 {
    margin-bottom: 20px;
}

.pointer {
    cursor: pointer;
}